<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <!--BootStrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap.min.css" rel="stylesheet">

  <!--JQUERY-->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Alunos - University</title>
</head>

<body>
  <div id="cabecalho">
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu'></i>
      </div>
    </section>
  </div>

  <div class='dashboard'>
    <div class="dashboard-nav">
      <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href=""><img src="/img/icon.svg"> <span>University</span></a></header>
        <nav class="dashboard-nav-list">
          <a href="#" class="dashboard-nav-item"><i class="bx bx-grid-alt"></i>Home</a>
            <div class='dashboard-nav-dropdown'>
              <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="bx bx-collection"></i>Sistema</a>
                <div class='dashboard-nav-dropdown-menu'>
                  <a href="/alunos_data" class="dashboard-nav-dropdown-item">Alunos</a>
                  <a href="/professores_data" class="dashboard-nav-dropdown-item">Professores</a>
            </div>
            <div class='dashboard-nav-dropdown'>
              <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="bx bx-book-alt"></i> University</a>
                <div class='dashboard-nav-dropdown-menu'>
                  <a href="/cursos_data" class="dashboard-nav-dropdown-item">Cursos</a>
                  <a href="/diciplinas_data" class="dashboard-nav-dropdown-item">Diciplinas</a>
                  <a href="#"class="dashboard-nav-dropdown-item">Semestres</a>
            </div>

            <a href="#" class="dashboard-nav-item"><i class="bx bx-cog"></i> Settings </a><a
                    href="#" class="dashboard-nav-item"><i class="bx bx-user"></i> Profile </a>
          <div class="nav-item-divider"></div>
          <a
                    href="#" class="dashboard-nav-item"><i class="bx bx-log-out"></i> Logout </a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="bx bx-menu"></i></a></header>
        <div class='dashboard-content'>
            <div class='container' style="display: flex; flex-direction:column">
              <div>
                <span id="message"></span>
                <button type="button" id="add_data" class="btn btn-sm float-end" 
                  style="color: white; background-color: #11101d;">CADASTRAR ALUNO</button>
              </div>
                
                <div class='card'>
                    <div class='card-header'style="background-color: #11101d;">
                        <h1 style="color:white;">Alunos Cadastrados</h1>
                    </div>
                    <div class='card-body'>
                        <div class="table-responsive">
                          <table class="table table-striped- table-condensed" id="alunos_data">
                            <thead>
                              <tr style="color:#11101d;">
                                <th>Nome</th>
                                <th>Data de Nascimento</th>
                                <th>Curso</th>
                                <th>Semestre</th>
                                <th>N&ordm; Matricula</th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!--FIM Sidebar-->

    <!--Inicio area cadastro-->
    <div class="content">
      <table class="table table-striped" id="alunos_data">
      </table>
    </div>
  </div>

</body>

</html>
<!-- Modal -->
<div class="modal" tabindex="-1" id="action_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="post" id="aluno_form">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_title" style="color: #11101d;">Cadastro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-lab">Nome Completo</label>
            <input type="text" name="nome" id="nome" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-lab">Data de Nascimento</label>
            <input type="date" name="bday" id="bday" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-lab">Curso</label>
            <select name="cursos" id="cursos" class="form-select" required>
              <option selected>--- Selecione o Curso ---</option>
              <option value="1">Sistema da Informação</option>
              <option value="2">Web Design</option>
              <option value="3">Ciência da Computação</option>
              <option value="4">Inglês</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-lab">Semestre</label>
            <select name="semestre" id="semestre" class="form-select" required>
              <option value="">--- Selecione o Semestre ---</option>
              <option value="1">1&ordm; semestre</option>
              <option value="2">2&ordm; semestre</option>

            </select>
          </div>
          <div class="mb-3">
            <label class="form-lab">N&ordm; Matricula</label>
            <input type="text" name="matricula" id="matricula" class="form-control"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="9"
              required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="id">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn" style="background-color: #11101d; color: white;"
            id="action_button">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--MODAL EDIÇÂO-->
<div class="modal" tabindex="-1" id="edit_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="post" id="edit_aluno_form">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_modal_title" style="color: #11101d;">Editar Aluno</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-lab">Nome Completo</label>
            <input type="text" name="edit_aluno_nome" id="edit_aluno_nome" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-lab">Data de Nascimento</label>
            <input type="date" name="edit_aluno_bday" id="edit_aluno_bday" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-lab">Curso</label>
            <select name="edit_aluno_cursos" id="edit_aluno_cursos" class="form-select" required>
              <option value="">--- Selecione o Curso ---</option>
          </select>
          </div>
          <div class="mb-3">
            <label class="form-lab">Semestre</label>
            <select name="edit_aluno_semestre" id="edit_aluno_semestre" class="form-select" required>
              <option value="">--- Selecione o Semestre ---</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-lab">N&ordm; Matricula</label>
            <input type="text" name="edit_aluno_matricula" id="edit_aluno_matricula" class="form-control"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="9"
              required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="edit_aluno_id" id="id">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn" style="background-color: #11101d; color: white;"
            id="edit_aluno_action_button">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
//menu
const mobileScreen = window.matchMedia("(max-width: 990px )");
$(document).ready(function () {
    $(".dashboard-nav-dropdown-toggle").click(function () {
        $(this).closest(".dashboard-nav-dropdown")
            .toggleClass("show")
            .find(".dashboard-nav-dropdown")
            .removeClass("show");
        $(this).parent()
            .siblings()
            .removeClass("show");
    });
    $(".menu-toggle").click(function () {
        if (mobileScreen.matches) {
            $(".dashboard-nav").toggleClass("mobile-show");
        } else {
            $(".dashboard").toggleClass("dashboard-compact");
        }
    });
});

$(document).ready(function () {
    load_data();
      $.ajax({
        url: "http://localhost:3000/cursos_data/cursos",
        method: "GET",
        dataType: "json",
        contentType:"application/json; charset=utf-8",
        success: function (response) {
          response.data.map((curso) => {
            $('#cursos').append(`<option value="${curso.id}">${curso.nome}</option>`);
            $('#edit_aluno_cursos').append(`<option value="${curso.id}">${curso.nome}</option>`);
          })
        },
        error: function(xhr, status, error) { 
          alert(error);
        }
      });
      $.ajax({
        url: "http://localhost:3000/semestre_data/semestres",
        method: "GET",
        dataType: "json",
        contentType:"application/json; charset=utf-8",
        success: function (response) {
          response.data.map((semestre) => {
            $('#semestre').append(`<option value="${semestre.id}">${semestre.nome}</option>`);
            $('#edit_aluno_semestre').append(`<option value="${semestre.id}">${semestre.nome}</option>`);
          })
        },
        error: function(xhr, status, error) { 
          alert(error);
        }
      });
   
    function load_data() {
      $.ajax({
        url: "http://localhost:3000/alunos_data/alunos",
        method: "GET",
        dataType: "json",
        contentType:"application/json; charset=utf-8",
        success: function (data) {
          var html = '';
          if (data.data.length > 0) {
            for (var count = 0; count < data.data.length; count++) {
              html += `
                            <tr>
                                <td scope="row">`+ data.data[count].nome + `</td>
                                <td scope="row">`+ data.data[count].bday + `</td>
                                <td scope="row">`+ data.data[count].cursoId + `</td>
                                <td scope="row">`+ data.data[count].semestreId + `</td>
                                <td scope="row">`+ data.data[count].matricula + `</td>
                                <td class="bColuna"><button class="bExlcuir bx bx-pen edit" style="height: 30px;" data-id="`+data.data[count].id+`"></button></td>
                                <td class="bColuna"><button class="bExlcuir delete" data-id="`+data.data[count].id+`">X</button></td>
                            </tr>
                            `;
            }
          }
          $('#alunos_data tbody').html(html);
        }
      });
    }
    $('#add_data').click(function () {
      $('#modal_title').text('Cadastro de Alunos');
      $('#aluno_form')[0].reset(); 
      $('#action_modal').modal('show');
    });
    $('#aluno_form').on('submit', function (event) {
      event.preventDefault();
      const data = JSON.stringify({
        nome: $('#nome').val(),
        bday:$('#bday').val(),
        cursos:$('#cursos').val(),
        matricula: $('#matricula').val(),
        semestre: $('#semestre').val(),
      })
      $.ajax({
        url: "http://localhost:3000/alunos_data/alunos",
        method: "POST",
        data: data ,
        dataType: "json",
        contentType:"application/json; charset=utf-8",
        beforeSend: function () {
          $('#action_button').attr('disabled', 'disabled');
        },
        success: (data) => {
          $('#action_button').attr('disabled', false);
          $('#message').html('<div class="alert alert-success" role="alert">' + data.message + '</div>');
          $('#action_modal').modal('hide');
          load_data();
          setTimeout(function () {
            $('#message').html('');
          }, 3000);
        }
      })
    });
    
    $(document).on('click', '.edit', function(){
      var id = $(this).data('id');
      
      $.ajax({
        url: `http://localhost:3000/alunos_data/alunos/${id}`,
        method: "GET",
        dataType: "json",
        contentType:"application/json",
        success:(data) =>{
          console.log(data)
          $('#edit_aluno_nome').val(data.nome) 
          $('#edit_aluno_bday').val(data.bday);
          $('#edit_aluno_cursos').val(data.cursoId);
          $('#edit_aluno_semestre').val(data.semestreId);
          $('#edit_aluno_matricula').val(data.matricula);
        },
        error: function(xhr, status, error) { 
          alert(error);
        }
      });
   
     
      $('#edit_aluno_action_button').text('Salvar');
      $('#edit_modal').modal('show');
      $('#edit_aluno_form').on('submit', function (event) {
      event.preventDefault();
      const data = JSON.stringify({
        nome: $('#edit_aluno_nome').val(),
        bday:$('#edit_aluno_bday').val(),
        cursos:$('#edit_aluno_cursos').val(),
        matricula: $('#edit_aluno_matricula').val(),
        semestre: $('#edit_aluno_semestre').val(),
      })
      $.ajax({
        url: `http://localhost:3000/alunos_data/alunos/${id}`,
        method: "PUT",
        data: data ,
        dataType: "json",
        contentType:"application/json; charset=utf-8",
        beforeSend: function () {
          $('#action_button').attr('disabled', 'disabled');
        },
        success: (data) => {
          $('#edit_aluno_action_button').attr('disabled', false);
          $('#message').html('<div class="alert alert-success" role="alert">' + data.message + '</div>');
          $('#edit_modal').modal('hide');
          load_data();
          setTimeout(function () {
            $('#message').html('');
          }, 3000);
        }
      })
    });
    });
   
    $(document).on('click', '.delete', function(){
      var id = $(this).data('id');
      if(confirm("Tem certeza que deseja excluir?")){
        $.ajax({
          url: `http://localhost:3000/alunos_data/alunos/${id}`,
          method: "DELETE",
          dataType: "json",
          contentType:"application/json; charset=utf-8",
          success:(data) => { 
            $('#message').html('<div class="alert alert-success" role="alert">' + data.message + '</div>');
            load_data();
            setTimeout(function () {
            $('#message').html('');
          }, 3000);
          }
        })
      }
    });
  });

</script>